



  <!-- Header Video -->
  <header class="header">
    <div class="video-fullscreen-wrap">
        <!-- The opacity on the image is made with "data-overlay-dark="number". You can change it using the numbers 0-9. -->
        <div class="video-fullscreen-video" data-overlay-dark="4">
            <video playsinline="" autoplay="" loop="" muted="">
                <source src="/assets/property-1.mp4" type="video/mp4" autoplay="" loop="" muted="">
                <source src="/assets/cpi.webp" type="video/webm" autoplay="" loop="" muted="">
            </video>
        </div>
        <div class="v-middle">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8 col-md-12 text-center">
                      
                        <h5>Enjoy the Luxury</h5>
                        <h1>Hotel Central Point</h1>
                       
                      </div>
                </div>
            </div>
        </div>
    </div>
</header>


       