<%- include('header'), {seoDetails} %>

  <!-- Header Banner -->
  <section class="banner-header bg-img bg-fixed" data-overlay-dark="5" data-background="img/banner/08.jpg">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="subtitle">Venue</div>
                <div class="title">Hotel Venues</div>
            </div>
        </div>
    </div>
</section>
<!-- Facilities 2 -->
<section class="facilities2 bg-lightbrown">
   
    <div class="container">
        <div class="tabs-content">
            <!--tab-->
            <div class="tab active-tab" id="restaurant">
                <div class="row justify-content-center align-items-center">
                    <div class="col-lg-6 col-md-12">
                        <img src="img/offers/05.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="col-lg-5 offset-lg-1 col-md-12">
                        <div class="section-subtitle">Addres of taste</div>
                        <div class="section-title">Restaurant</div>
                        <p class="mb-25">Restaurant quisue sodale intion varius estibum miss arman ortiton telus euismod nis the massa fermen.</p>
                        <ul class="list-unstyled list mb-30">
                            <li>
                                <div class="list-icon"> <span class="fa-regular fa-check"></span> </div>
                                <div class="list-text">
                                    <p>Breakfast: 7.00 am – 11.00 am (daily)</p>
                                </div>
                            </li>
                            <li>
                                <div class="list-icon"> <span class="fa-regular fa-check"></span> </div>
                                <div class="list-text">
                                    <p>Lunch: 12.00 pm – 2.00 pm (daily)</p>
                                </div>
                            </li>
                            <li>
                                <div class="list-icon"> <span class="fa-regular fa-check"></span> </div>
                                <div class="list-text">
                                    <p>Dinne: 6.30 pm – 10.00 pm (daily)</p>
                                </div>
                            </li>
                        </ul>
                        <a href="#" class="button-3"><i class="fa-solid fa-user-chef"></i> View menu</a>
                    </div>
                </div>
            </div>
            <!--tab-->
            <div class="tab" id="spa">
                <div class="row justify-content-center align-items-center">
                    <div class="col-lg-6 col-md-12">
                        <img src="img/offers/06.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="col-lg-5 offset-lg-1 col-md-12">
                        <div class="section-subtitle">So Many Ways to Unwind</div>
                        <div class="section-title">Spa & Wellness</div>
                        <p class="mb-25">Wellness quisque sodales intioni varius estibum miss arman ortiton telus euismod nis the massa nutodio farmention lorem pretium ametis velen fermen.</p>
                        <ul class="list-unstyled list mb-30">
                            <li>
                                <div class="list-icon"> <span class="fa-regular fa-check"></span> </div>
                                <div class="list-text">
                                    <p>Overnight de-stress retreat</p>
                                </div>
                            </li>
                            <li>
                                <div class="list-icon"> <span class="fa-regular fa-check"></span> </div>
                                <div class="list-text">
                                    <p>Wedding spa packages</p>
                                </div>
                            </li>
                        </ul>
                        <a href="#" class="button-3"><i class="fa-solid fa-spa"></i> View details</a>
                    </div>
                </div>
            </div>
            <!--tab-->
            <div class="tab" id="pool">
                <div class="row justify-content-center align-items-center">
                    <div class="col-lg-6 col-md-12">
                        <img src="img/offers/07.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="col-lg-5 offset-lg-1 col-md-12">
                        <div class="section-subtitle">Indoor & Outdoor</div>
                        <div class="section-title">Pool Swimming</div>
                        <p class="mb-25">Swimming quisque sodales intioni varius estibum miss arman ortiton telus euismod nis the massa nutodio farmention lorem pretium ametis velen fermen.</p>
                        <ul class="list-unstyled list mb-30">
                            <li>
                                <div class="list-icon"> <span class="fa-regular fa-check"></span> </div>
                                <div class="list-text">
                                    <p>Indoor pool swimming</p>
                                </div>
                            </li>
                            <li>
                                <div class="list-icon"> <span class="fa-regular fa-check"></span> </div>
                                <div class="list-text">
                                    <p>Outdoor pool swimming</p>
                                </div>
                            </li>
                        </ul>
                        <a href="#" class="button-3"><i class="fa-solid fa-person-swimming"></i> View details</a>
                    </div>
                </div>
            </div>
            <!--tab-->
            <div class="tab" id="fitness">
                <div class="row justify-content-center align-items-center">
                    <div class="col-lg-6 col-md-12">
                        <img src="img/offers/08.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="col-lg-5 offset-lg-1 col-md-12">
                        <div class="section-subtitle">Training Spaces</div>
                        <div class="section-title">Fitness Center</div>
                        <p class="mb-25">Fitness quisque sodales intioni varius estibum miss arman ortiton telus euismod nis the massa nutodio farmention lorem pretium ametis velen fermen.</p>
                        <ul class="list-unstyled list mb-30">
                            <li>
                                <div class="list-icon"> <span class="fa-regular fa-check"></span> </div>
                                <div class="list-text">
                                    <p>Cardiovascular equipment</p>
                                </div>
                            </li>
                            <li>
                                <div class="list-icon"> <span class="fa-regular fa-check"></span> </div>
                                <div class="list-text">
                                    <p>Some dumbells for weight lifting</p>
                                </div>
                            </li>
                        </ul>
                        <a href="#" class="button-3"><i class="fa-solid fa-dumbbell"></i> View details</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<%- include('footer') %>